:root{
    --primary-color: #5448C8;
    --secondary-color: #1a1625; 
    --primary-font: 'Poppins', sans-serif;
    --secondary-font: 'Roboto', sans-serif

}

body{
    font-family: var(--primary-font)
}

.btn{
    font-family: var(--secondary-font);
    padding: 10px 16px;
    color: white;
    border-radius: 9px;
    transition: 0.3s ease-in-out;
    font-size:0.8rem;
    font-weight: normal
}

.btn:hover{
    transform: translateY(-3px)

}

.primary-btn{
    font-family: 'Poppins', sans-serif;
    background-color: var(--primary-color);

}

.secondary-btn{
    font-family: 'Poppins', sans-serif;
    background-color: var(--secondary-color);
}